<header class="simple_title">
  <h1>Ideabox</h1>
</header>

<h2 class="ideapost">アイディア編集</h2>
    
<main>
  <div class="member_content">
    <%= form_with model: @idea, local: true do |f| %>        

        <%# タイトルとアイディアの目的 %>
        <div class="field">  
          <div class="weight-bold-text">
            タイトル
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :title, class:"ideas-text", id:"idea-title", placeholder:"アイディアのタイトル (必須 50文字まで) 例) 訛りを翻訳するアプリが欲しい", maxlength:"100" %>
        </div>
        <div class="field">
            <div class="weight-bold-text">
                目的
            <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :purpose, class:"ideas-text", id:"ideas-purpose", placeholder:"アイディアの目的 (必須 100文字まで) 例) 地方の方とコミュニケーションをと利やすくなる", maxlength:"100" %>
         </div>

        <%# アイディアのカテゴリー %>
        <div class="field">
          <div class="weight-bold-text">
              カテゴリー
          <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> 
        </div>
  
          <%# アイディアの説明 %>
        <div class="field">
          <div class="weight-bold-text">
            説明
          <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :description, class:"ideas-description", id:"idea-info", placeholder:"アイディアの説明 (必須 1,500文字まで) 例) 英語翻訳アプリのように、スマホに話してもらうと翻訳される",rows:"8" ,maxlength:"1500" %>
        </div>
  
      <%# 下部ボタン %>
      <div class="actions">
        <%= f.submit "保存する" ,class:"actions-btn" %>
      </div> 
    <% end %>
  </div>
</main>