<%= render "devise/shared/header" %>

<div class='main '>
    <%= link_to image_tag("https://t16.pimg.jp/016/101/196/1/16101196.jpg", class: 'box') %>

  <h3>検索</h3>
  <%= form_tag(root_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <div class='idea-contents'>
    <h2 class='title'>アイディア一覧</h2>
  
    <div class="category">経済</div>
    <% @idea2.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">政治</div>
    <% @idea3.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">地域</div>
    <% @idea4.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">国際</div>
    <% @idea5.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">IT</div>
    <% @idea6.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">エンタメ</div>  
    <% @idea7.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">スポーツ</div>
    <% @idea8.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">グルメ</div>
    <% @idea9.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">家庭</div>
    <% @idea10.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">仕事</div>  
    <% @idea11.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">学業</div>
    <% @idea12.each do |idea| %>
    <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
    <% end %>

    <div class="category">その他</div>
     <% @idea13.each do |idea| %>
     <%= link_to idea.title, idea_path(idea.id), class: :card__title%>
     <% end %>
  </div>
</div>
