<div class="idea-show">
  <div class="idea-box">
    <h2 class="title">
      <%= @idea.title %>
    </h2>
  </div>
  
  <div class="idea__body">
    <div class="idea__detail">
      <p class="detail__purpose">アイディアの目的</p>
      <p class="detail__message">
        <%= @idea.purpose %>
      </p>
    </div>
  </div>

  <div class="idea-explain-box">
    <span><%= @idea.description %></span>
  </div>

  <div class="idea__detail">
    <p class="detail__nickname">投稿者</p>
    <p class="detail__message">
      <%= @idea.user.nickname %>
    </p>
  </div>
  
  <% if user_signed_in? %>
    <% unless current_user.id != @idea.user_id %>
      <%= link_to "アイディアの編集", edit_idea_path(@idea.id), method: :get, class: "idea-red-btn" %>
      <%= link_to "削除", idea_path(@idea.id), method: :delete, class:"idea-destroy" %>
    <% end %>
  <% end %>

  <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
  <% if user_signed_in? %>
    <%= form_with model: [@idea, @comment],local: true do |f| %>
      <div class="field">
       <%= f.label :text, "コメント" %><br />
        <%= f.text_field :text %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :form__btn %>
      </div>
    <% end %>
  <% end %>
  <ul class="comments_lists">
  <%# 投稿に紐づくコメントを一覧する処理を記述する %>
  <div class="comments">
    <h4>＜コメント一覧＞<h4>
    <% @comments.each do |comment| %>
    <li class="comments_list">
      <%= comment.text %>
    <strong><%= link_to comment.user.name, user_path(@idea.user), class: :comment_user %><strong>
    </li>
    <% end %>
  </div>
  </ul>
</div>



