<h2 class="show-title">
  <%= @idea.title %>
</h2>

<div class="member_content">  
  <div class="field">
    <p class="show_subtitle">目的</p>
    <p class="show_message">
      <%= @idea.purpose %>
    </p>
  </div>

  <div class="field">
    <p class="show_subtitle">説明</p>
    <p class="show_message">
      <%= @idea.description %>
    </p>
  </div>

  <div class="field">
    <p class="show_subtitle">投稿者</p>
    <p class="show_message">
      <%= @idea.user.nickname %>
    </p>
    <%= render 'likes/like', idea: @idea %>
  </div>
 
  <% if user_signed_in? %>
    <% unless current_user.id != @idea.user_id %>
      <%= link_to "アイディアの編集", edit_idea_path(@idea.id), method: :get, class: "idea-red-btn" %>
      <%= link_to "削除", idea_path(@idea.id), method: :delete, class:"idea-destroy" %>
    <% end %>
  <% end %>

  <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
  <% if user_signed_in? %>
    <%= form_with model: [@idea, @comment],local: true do |f| %>
      <div class="field">
       <%= f.label :text, "コメント" %><br />
        <%= f.text_field :text %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :form__btn %>
      </div>
    <% end %>
  <% end %>
  <ul class="comments_lists">
  <%# 投稿に紐づくコメントを一覧する処理を記述する %>
  <div class="comments">
    <h4>＜コメント一覧＞<h4>
    <% @comments.each do |comment| %>
    <li class="comments_list">
      <%= comment.text %>
    <strong><%= link_to comment.user.nickname, idea_path(@idea.user), class: :comment_user %><strong>
    </li>
    <% end %>
  </div>
  </ul>
</div>



