<div class="idea-show">
  <div class="idea-box">
    <h2 class="title">
      <%= @idea.title %>
    </h2>
  </div>
  
  <div class="idea__body">
    <div class="idea__detail">
      <p class="detail__purpose">アイディアの目的</p>
      <p class="detail__message">
        <%= @idea.purpose %>
      </p>
    </div>
  </div>

  <div class="idea-explain-box">
    <span><%= @idea.description %></span>
  </div>

  <div class="idea__detail">
    <p class="detail__nickname">投稿者</p>
    <p class="detail__message">
      <%= @idea.user.nickname %>
    </p>
  </div>

  <% if user_signed_in? %>
    <% unless current_user.id != @idea.user_id %>
      <%= link_to "アイディアの編集", edit_idea_path(@idea.id), method: :get, class: "idea-red-btn" %>
      <%= link_to "削除", idea_path(@idea.id), method: :delete, class:"idea-destroy" %>
    <% end %>
  <% end %>

</div>



